
    body {
      background-image: url("https://i.redd.it/e31i8qtegam21.png");
      background-position: center;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    h1 {
      color: #fff;
      text-align: center;
    }
    
    ul {
      list-style-type: none;
      padding: 0;
      margin: 20px;
    }
    
    li {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    a {
      display: block;
      padding: 3px;
      color: #fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 11px;
      display: block;
      padding: 3px;
      color: #fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 11px;
      padding: 7px;font-style: italic;font-size: larger; color: #fffcfc;
      text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    }

    @media (max-width: 333px) {
      a {
        font-size: 12px;
        margin-top: -11%;        
      }
  
      h3{
        font-size: 11px;
        margin-top: 4%;  
        margin-bottom: 4%;          
      }

      .rules{
        padding: 3px;
        /* reduce space between element and borders of screen*/
        margin-left: 0%;
        margin-right: 0%;      
      }
  }

  @media (max-width: 274px) {
    .logo{
      width: 100%;
      height: 100%;      
    }

    /*ul{
      font-size: 59%;
    }
    
    li{
      font-size: 69%;
    }*/

  }

