html {
  scroll-behavior: smooth;
}

.end{
  padding-top: 4%;
}

      .custom-alert {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(7, 7, 7, 0.5);
        z-index: 9999;
      }

      .custom-alert-content {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
        font-size: 18px; text-shadow: 5px 5px 10px rgb(255, 255, 255);
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000000;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        border-radius: 5%;
        border-style: outset;
      }

      #custom-alert-ok {
        margin-top: 10px;  position: relative;
        left: 40%; border-radius: 100%;         }


        .custom-alert2 {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(7, 7, 7, 0.5);
          z-index: 9999;
        }
  
        .custom-alert-content2 {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
          font-size: 18px; text-shadow: 5px 5px 10px rgb(255, 255, 255);
          color: #ffffff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #000000;
          padding: 20px;
          border-radius: 5px;
          text-align: center;
          border-radius: 5%;
          border-style: outset;
        }
  
        #btn-continue {
          margin-top: 10px;  position: relative;
          left: 40%; border-radius: 100%;         } 

          .custom-alert3 {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(7, 7, 7, 0.5);
            z-index: 9999;
          }
    
          .custom-alert-content3 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
            font-size: 18px; text-shadow: 5px 5px 10px rgb(255, 255, 255);
            color: #ffffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #000000;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            border-radius: 5%;
            border-style: outset;
          }
    
          #btn-result {
            margin-top: 10px;  position: relative;
            left: 40%; border-radius: 100%;         }

* {
  box-sizing: border-box; margin: 0; padding: 0;
}
body {
  font-family: Arial, sans-serif;  
}

iframe {  
  width: 100%; 
  height: 1100px;
}

.container {
  display: flex;flex-direction: column;
  align-items: center;justify-content: center;width: 100%;height: 100vh; 
}
.player-section {
  display: flex;flex-direction: column;align-items: center;justify-content: center;
  width: 100%; height: 200px; margin-top: 10px;
}
.player-section-2{ padding-top: 30%; padding-bottom: 3%;}
.player-name {
  padding: 0px;font-style: italic;font-size: larger;color: #000000;
  text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
  font-size: 23px; text-shadow: 5px 5px 10px rgb(255, 255, 255);
  font-weight: bold; 
}
.player1-chips {
  font-size: 18px;font-weight: bold; padding: 5px;text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;font-size: larger;color: #000000;font-size: 18px;
  text-shadow: 5px 5px 10px rgb(255, 255, 255);
}
.player2-chips {
  font-size: 18px;font-weight: bold; padding: 5px;text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;font-size: larger;color: #000000;font-size: 18px;
  text-shadow: 5px 5px 10px rgb(255, 255, 255);
}
.player1-hand {
  display: flex;flex-direction: row;justify-content: center;
  align-items: center;width: 100%;height: 60px; margin-top: 45px; 
}
.player2-hand {
  display: flex;flex-direction: row;justify-content: center;
  align-items: center;width: 100%;height: 60px; margin-top: 45px;  
}
.community-cards {
  display: flex;flex-direction: row; margin-top: 10px;
}

.card1FaceDown { background: url('/cardBack.ico'); background-position: 92%; background-size: 100%; background-repeat: no-repeat; 
  width: 126px;height: 120px; background-color: #6a62625e;   border-top: #000000; 
  margin-right: 10px; display: flex; flex-direction: column; 
  justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;   
  transition: transform 2.0s;    transform: translateX(450%) translateY(-200%) rotate(1440deg) 
}
.card1FaceDown.flipped {
  transition: transform 2.0s;    
  transform: rotateX(95deg);
  /*background: url('/tombstone.png');*/
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;        
}

.card1 { 
  transform: rotateY(0deg);
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;
  background: url('/tombstone.png');
}

.card1.flipped{
  transition: transform 0s;
  transform: rotateX(90deg);
}  

.card2FaceDown { background: url('/cardBack.ico'); background-position: 92%; background-size: 100%; background-repeat: no-repeat;   

  width: 126px;height: 120px; background-color: #6a62625e;   border-top: #000000; 
  margin-right: 10px; display: flex; flex-direction: column; 
  justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;   
  transition: transform 2.0s;    transform: translateX(350%) translateY(-200%) rotate(1440deg) 
}
.card2FaceDown.flipped {
  transition: transform 2.0s;    
  transform: rotateX(95deg);
  /*background: url('/tombstone.png');*/
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;        
}
.card2 { 
  transform: rotateX(0deg);
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;  
  background: url('/tombstone.png');
}
.card2.flipped{
  transition: transform 0s;
  transform: rotateX(90deg);
}

  .card3FaceDown { background: url('/favicon.ico'); background-position: 92%; background-size: 100%; background-repeat: no-repeat; 
    width: 126px;height: 120px; background-color: #6a62625e;   border-top: #000000; 
    margin-right: 10px; display: flex; flex-direction: column; 
    justify-content: center; align-items: center; 
    border-top-left-radius: 23%; border-top-right-radius: 23%;       
    transition: transform 4.0s;  
  }
  .card3FaceDown.flipped {
    transition: transform 4.0s;
    transform: rotateY(95deg);
    /*background: url('/tombstone.png');*/
    width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
    border-bottom: #000000; border-right: #000000;
    border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
    column; justify-content: center; align-items: center; 
    border-top-left-radius: 23%; border-top-right-radius: 23%; 
  }
  
  .card3{
    transform: rotateY(0deg);
    width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
    border-bottom: #000000; border-right: #000000;
    border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
    column; justify-content: center; align-items: center; 
    border-top-left-radius: 23%; border-top-right-radius: 23%; background: url('/tombstone.png');
  }
  
  .card3.flipped{
    transition: transform 0s;
    transform: rotateY(90deg);
  }  

  .card4FaceDown { background: url('/favicon.ico'); background-position: 92%; background-size: 100%; background-repeat: no-repeat; 
    width: 126px;height: 120px; background-color: #6a62625e;   border-top: #000000; 
    margin-right: 10px; display: flex; flex-direction: column; 
    justify-content: center; align-items: center; 
    border-top-left-radius: 23%; border-top-right-radius: 23%;   

    transition: transform 4.0s;    
  }
  .card4FaceDown.flipped {
    transition: transform 4.0s;
    transform: rotateY(95deg);
    /*background: url('/tombstone.png');*/
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;      
  }

  .card4{
    transform: rotateY(0deg);
    width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
    border-bottom: #000000; border-right: #000000;
    border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
    column; justify-content: center; align-items: center; 
    border-top-left-radius: 23%; border-top-right-radius: 23%; background: url('/tombstone.png');
  }
  
  .card4.flipped{
    transition: transform 0s;
    transform: rotateY(90deg);
  }  

  @keyframes card11Animation {
    0% {
      transform: translateX(500%) 
    }
    100% {
       transition: transform 1s translateX(0%);
    }
  }
.card11 { background: url('/tombstone.png');
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;
  animation: card11Animation 1s;  
}  
  .center11{
    position: relative; transform:  translateX(0%) rotateY(75deg); 
  }
  .onSide11{
    position: relative; transition: transform 2s;  transform: translateX(0%);
  }

  @keyframes card12Animation {
    0% {
      transform: translateX(400%) 
    }
    100% {
       transition: transform 1s translateX(-100%);
    }
  }
.card12 { background: url('/tombstone.png');
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;
  animation: card12Animation 1s;  
}  
  .center12{
    position: relative; transform:  translateX(-100%) rotateY(75deg); 
  }
  .onSide12{
    position: relative; transition: transform 2s; transform: translateX(0%);
  }

  @keyframes card13Animation {
    0% {
      transform: translateX(300%) 
    }
    100% {
       transition: transform 1s translateX(-200%);
    }
  }
  
.card13 { background: url('/tombstone.png');
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;
  animation: card13Animation 1s;  
}  
  .center13{
    position: relative;  transform:  translateX(-200%) rotateY(75deg); 
  }
  .onSide13{
    position: relative; transition: transform 2s; transform: translateX(0%);
  }
  
.card14 { background: url('/tombstone.png');
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;
  position: relative;  transform: translateX(1000%) translateY(100%) rotate(720deg) rotateY(720deg);
}
  .onPlace14{
    position: relative; transition: transform 1.0s; transform: translateX(0%) translateY(0%) rotateY(0deg); 
  }

.card15 { background: url('/tombstone.png');
  width: 126px;height: 120px;background-color: #bcbbbb; border: 5px solid #ffffff;  
  border-bottom: #000000; border-right: #000000;
  border-radius: 3px;  margin-right: 10px; display: flex; flex-direction: 
  column; justify-content: center; align-items: center; 
  border-top-left-radius: 23%; border-top-right-radius: 23%;
  position: relative;  transform: translateX(1000%) translateY(100%) rotate(1440deg) rotateY(1440deg);
}
.onPlace15{
  position: relative; transition: transform 1.0s; transform: translateX(0%) translateY(0%) rotateY(0deg);
}

.author1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px; 
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: black; margin-inline-start: 9px; margin-inline-end: 7px;}
.author3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author11 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author12 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author13 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author14 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}
.author15 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 2px;
  font-style: italic; color: #000000; margin-inline-start: 9px; margin-inline-end: 7px;}

.power1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power11 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power12 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power13 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power14 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }
.power15 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-bottom: 1px; text-align: center;
  color: rgb(222, 213, 213); }

.suit1 { 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit11 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit12 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit13 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit14 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px; text-shadow: 1px 1px 1px rgb(0, 0, 0); }
.suit15 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: center;
  font-style: italic; font-size: 14px; margin-top: -7px;  text-shadow: 1px 1px 1px rgb(0, 0, 0); }

.actions {
  display: flex;justify-content: center;align-items: center; margin-top: 10px;
}
.btn-fold,.btn-check,.btn-raise,.btn-call {
  padding: 10px; font-size: 18px;font-weight: bold; margin-right: 10px;border-radius: 18%;    }
.btn-fold {
  background-color: #f44336;color: #000000; border: 1px solid;   }
.btn-check {
  background-color: #4CAF50;color:#000000; border: 1px solid;   }
.btn-raise {
  background-color: #2196F3;color: #000000; border: 1px solid;   }
.btn-call {
  background-color: #f3de21;color: #000000; border: 1px solid;   }
.info {  
  text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;color: #000000;text-shadow: 5px 5px 10px rgb(254, 0, 0); margin-top: 10px;
}
.yearsAndValue{
  display: flex;flex-direction: column;
}
.riskAndValue{
  display: flex;flex-direction: column;
}
.years {
  margin-top: 0%; font-size: 18px; }
.yearsSurviving {
  margin-top: 0%; font-size: 18px;  }
.risk {
  margin-top: 2%; font-size: 18px;   }
.riskValue {
  margin-top: 0%; font-size: 18px; padding-bottom: 73%;
}
.btn-disabled {
  background-color: #ccc;color: #fff;border: none;  }
.active-player {
  background-color: #eee; }

   



  .deathKiss{ width: 506px;  }
  .deathDancing{/* element width full  */ width: 100%; 
    /*vertically  centralized*/ 
    position: absolute; top: 50%; transform: translateY(-50%);} 
    .deathDancingAdd{ width: 100%;   }            
    .end{ width: 100%; } 
    .deathEndStare{ width: 100%;  }
    .deathWinExplosion{ width: 100%;   }

    @media (max-width: 1730px) {
      .player-section-2{ padding-top: 33%; padding-bottom: 3%;}      
    }
    @media (max-width: 1630px) {
      .player-section-2{ padding-top: 35%; padding-bottom: 3%;}
    }
    @media (max-width: 1530px) {
      .player-section-2{ padding-top: 37%; padding-bottom: 3%;}            
    }    
    @media (max-width: 1430px) {
      .player-section-2{ padding-top: 38%; padding-bottom: 3%;} 
    }
    @media (max-width: 1330px) {
      .player-section-2{ padding-top: 42%; padding-bottom: 3%;} 
    }
    @media (max-width: 1230px) {
      .player-section-2{ padding-top: 50%; padding-bottom: 3%;}      
    }
    @media (max-width: 1130px) {
      .player-section-2{ padding-top: 52%; padding-bottom: 3%;}     
    }
    @media (max-width: 1030px) {
      .player-section-2{ padding-top: 55%; padding-bottom: 4%;}
    }
      @media (width: 1024px), (height: 600px) {
        .player-section-2{ padding-top: 70%; padding-bottom: 4%;}       
      }
    @media (max-width: 930px) {
      .player-section-2{ padding-top: 62%; padding-bottom: 4%;}
    }
    @media (max-width: 830px) {
      .player-section-2{ padding-top: 68%; padding-bottom: 5%;}
    }
    @media (max-width: 777px) {
      .player-section-2{ padding-top: 78%; padding-bottom: 5%;}
    }
    @media (max-width: 704px) {
      .player-section-2{ padding-top: 80%; padding-bottom: 5%;}
    }





@media (max-width: 771px) {
  .container {padding: 20px; }
  .deathWinExplosion{ width: 100%   }
}

@media (max-width: 700px) {
  /*change backgroud image height*/
  html {
    background-size: cover;
  }

  .custom-alert-content {  font-size: 18px; margin-left: 0%; margin-right: -40%; }

  iframe {  
  width: 100%; 
  height: 900px;
  }
  .player-section-2{ padding-top: 43%; padding-bottom: 2%;}
  .player-section {height: 140px;}
  .player-name {
    font-size: 14px;}
  .player-chips {
    font-size: 12px;}
    .player1-hand {      
      margin-top: 11px;    }
    .player2-hand {      
      margin-top: 11px;    }
      .player1-chips { font-size: 11px;     }
      .player2-chips { font-size: 11px;     } 

      .card1FaceDown{
        width: 67px; height: 76px;
        border-top-left-radius: 23%; border-top-right-radius: 23%; 
        
      }
  .card1FaceDown.flipped{
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; }
    .card2FaceDown{
      width: 67px; height: 76px;
      border-top-left-radius: 23%; border-top-right-radius: 23%; }
      .card2FaceDown.flipped{
        width: 67px; height: 76px;
        border-top-left-radius: 23%; border-top-right-radius: 23%; }  

  .card1 {
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; }     
  .card2 {  
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; }

    .card3FaceDown{
      width: 67px; height: 76px;
      border-top-left-radius: 23%; border-top-right-radius: 23%; }
.card3FaceDown.flipped{
  width: 67px; height: 76px;
  border-top-left-radius: 23%; border-top-right-radius: 23%; }
  .card4FaceDown{
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; }
    .card4FaceDown.flipped{
      width: 67px; height: 76px;
      border-top-left-radius: 23%; border-top-right-radius: 23%; }  

  .card11 {
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; margin-top: 2%; }
  .card12 {
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; margin-top: 2%;   }
  .card13 {
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; margin-top: 2%;   }
  .card14 {
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; margin-top: 2%;   }
  .card15 {
    width: 67px; height: 76px;
    border-top-left-radius: 23%; border-top-right-radius: 23%; margin-top: 2%;   }
    
  .author1 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author2 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author3 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author4 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author11 {
   font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author12 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author13 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author14 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  .author15 {
    font-size: 10px; margin-top: 5px; margin-inline-start: 7px; margin-inline-end: 7px;}
  
  .suit1 {font-size: 9px; margin-top: -7px;  }
  .suit2 {font-size: 9px; margin-top: -7px;  }
  .suit3 {font-size: 9px; margin-top: -7px;  }
  .suit4 {font-size: 9px; margin-top: -7px;  }
  .suit11 {font-size: 9px; margin-top: -7px;  }
  .suit12 {font-size: 9px; margin-top: -7px;  }
  .suit13 {font-size: 9px; margin-top: -7px;  }
  .suit14 {font-size: 9px; margin-top: -7px;  }
  .suit15 {font-size: 9px; margin-top: -7px;  }
      
  .power1 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power2 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power3 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power4 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power11 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power12 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power13 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power14 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }
  .power15 {    font-size: 10px; margin-top: -11px; margin-bottom: 4px; }

  .cardFaceDown { width: 62px; height: 76px; }

    
    .actions { margin-top: -11px;   }
  .btn-fold,.btn-check,.btn-raise,.btn-call {
    padding: 4px;font-size: 11px;font-weight: bold;
    margin-right: 5px;border-radius: 23%;  }
  .info {
    display: flex;flex-direction: column; justify-content: center;align-items: center;margin-top: 8px;text-align: center;   }
    .years{ font-size: 11px; }
  .yearsSurviving {    
    margin-top: 0%; font-size: 13px;  }
    .risk{ font-size: 11px;   }
  .riskValue {    
    margin-top: 0%; font-size: 13px;  }
                    
  .deathKiss{ width: 320px; }
  .deathDancing{  /* element width full  */  width: 100%;  }   
            .deathWinExplosion{ width: 100%;   }  
}

@media (max-height: 800px) {
.custom-alert-content {  font-size: 14px; margin-left: 0%; margin-right: -40%; }
.custom-alert-content2 {  font-size: 14px; margin-left: 0%; margin-right: -40%; }
.custom-alert-content3 {  font-size: 12px; margin-left: 0%; margin-right: -40%; }
}



@media (max-width: 300px) {
  .custom-alert-content {  font-size: 12px; margin-left: 0%; margin-right: -40%; }
  .custom-alert-content2 {  font-size: 12px; margin-left: 0%; margin-right: -40%; }
  .custom-alert-content3 {  font-size: 12px; margin-left: 0%; margin-right: -40%; }
}

@media (max-width: 600px) {
  .player-section-2{ padding-top: 50%; padding-bottom: 2%;}  
  iframe {  
    width: 100%; 
    height: 700px;
    }
  }
  @media (max-width: 500px) {
    .player-section-2{ padding-top: 60%; padding-bottom: 2%;}
    iframe {  
      width: 100%; 
      height: 600px;
      }
    }

@media (max-width: 405px) {
  html {
    background-size: cover;    
    }
    iframe {  
      width: 100%; 
      height: 600px;
      }
    .player-section-2{ padding-top: 60%; padding-bottom: 4%;}
    .section-welcome {  padding-top: 60%; padding-bottom: 4%;}
  .community-cards {
    display: flex;flex-direction: column;  margin-top:11px; margin-bottom: -16px;
  }
    .btn-fold,.btn-check,.btn-raise,.btn-call {
      padding: 0px;font-size: 11px;font-weight: bold;
      margin-right: 2px;border-radius: 23%;  }
    .deathEndStare{ width: 100%;  }    
    .deathWinExplosion{ width: 100%  }
}
@media (width: 412px), (height: 914px) {
  .player-section-2{ padding-top: 10%; padding-bottom: 4%;}  
}
@media (width: 280px), (height: 653px) {
  .player-section-2{ padding-top: 110%; padding-bottom: 4%;} 
}
@media (width: 240px), (height: 520px) {
  .player-section-2{ padding-top: 190%; padding-bottom: 4%;} 
}

@media (max-width: 185px) {
  .player-section-2{ padding-top: 85%; padding-bottom: 6%;}  
  iframe {  
    width: 100%; 
    height: 300px;
    }
}